.claude/
*.iml
.gradle/
.idea/
.kotlin/
!.idea/runConfigurations.xml
/local.properties
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.apk
.aab
/hs_err_pid26376.log
/replay_pid26376.log
*.patch
